<?xml version="1.0" encoding="UTF-8"?>
<!-- Config minimale volontairement : valide de PHPUnit 9 (PHP 7.4) à PHPUnit 12. -->
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Package">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
